<div class= "fixed-bottom navbar bas">

<% if current_user  %>
  <%= link_to raw('<i class="fa-regular fa-map"></i>'), map_path, class:"nav-logo left"%>

  <%= link_to raw('<i class="fa-regular fa-circle-user"></i>'),dashboard_path , class:"nav-logo left" %>



  <%= link_to new_match_path do %>
    <%= image_tag "logo-syner_preview_rev_1.png", class:"logo" %>
  <% end %>

  <%= link_to raw('<i class="fa-solid fa-house"></i>'), root_path, class:"nav-logo right" %>
  <%= link_to raw('<i class="fa-regular fa-calendar"></i>'), root_path, class:"nav-logo right" %>
 <% else %>
 <%= link_to new_match_path do %>
    <%= image_tag "logo-syner_preview_rev_1.png", class:"logo" %>
  <% end %>
  <% end %>
</div>
