<div class= "fixed-bottom navbar bas">
  <%= link_to raw('<i class="fa-regular fa-map"></i>'), root_path, class:"nav-logo left"%>
  <%= link_to raw('<i class="fa-regular fa-circle-user"></i>'), root_path, class:"nav-logo left" %>
  <%= link_to root_path do %>
    <%= image_tag "logo-syner_preview_rev_1.png", class:"logo" %>
  <% end %>
<<<<<<< HEAD
  <%= link_to raw('<i class="fa-regular fa-message"></i>'), root_path, class:"nav-logo right" %>
  <%= link_to raw('<i class="fa-solid fa-receipt"></i>'), root_path, class:"nav-logo right" %>
=======
  <%= link_to raw('<i class="fa-solid fa-map"></i>'), map_path, class:"nav-logo right" %>
  <%= link_to raw('<i class="fa-solid fa-message"></i>'), root_path, class:"nav-logo right" %>
>>>>>>> 83f349d67d24102f84f5d4cbbdd1eef058a5f832
</div>
