<div class="container monstre">

<h3 class="title-style1">Room soon complete <%= image_tag("foot-roma-removebg-preview.png", alt: "logo foot", class: "logo-foot") %></h3>

      <div class="accordion-body">
         <div class="card-matches">
         <%= link_to profil_path(@match_sort.user.id) do %>
          <div class="div">
          <div class="img-top">
          <% if @match_sort.user.photo.attached? %>
            <%= cl_image_tag @match_sort.user.photo.key, class: "image-prof"%>
            <% else %>
            <%= image_tag "téléchargé.jpg", class: "image-prof" %>
            <% end %>
          </div>
          <% end %>
          <div class="img-bot">
             <div class="pi">
               <%= @match_sort.user.first_name %>
             </div>
           </div>
       </div>
       <%= link_to match_path(@match_sort) do %>
       <div class="notes">
        <p>
          <i class="fa-solid fa-calendar-days"></i> :
          <%= @match_sort.date %>
        </p>
        <p>
          <i class="fa-solid fa-location-dot"></i> :
          <%= @match_sort.address %>
        </p>
        <p>
          <i class="fa-solid fa-users"></i> :
          <%= @match_sort.number_of_places%>/10
        </p>
       </div>
     </div>
      <% end %>

     <div class="card-matches">
       <%= link_to profil_path(@match_sort2.user.id) do %>
        <div class="div">
          <div class="img-top">
          <% if @match_sort2.user.photo.attached? %>
            <%= cl_image_tag @match_sort2.user.photo.key, class: "image-prof"%>
            <% else %>
            <%= image_tag "téléchargé.jpg", class: "image-prof" %>
            <% end %>
          </div>
        <% end %>
           <div class="img-bot">
            <div class="pi">
              <%= @match_sort2.user.first_name %>
             </div>
          </div>
      </div>
      <%= link_to match_path(@match_sort) do %>
      <div class="notes">
          <p>
          <i class="fa-solid fa-calendar-days"></i> :
          <%= @match_sort2.date %>
        </p>
        <p>
          <i class="fa-solid fa-location-dot"></i> :
          <%= @match_sort2.address %>
        </p>
        <p>
          <i class="fa-solid fa-users"></i> :
          <%= @match_sort2.number_of_places%>/10
        </p>
      </div>
      <% end %>
    </div>


    <div class="card-matches">
    <%= link_to profil_path(@match_sort3.user.id) do %>
      <div class="div">
          <div class="img-top">
          <% if @match_sort3.user.photo.attached? %>
            <%= cl_image_tag @match_sort3.user.photo.key, class: "image-prof"%>
            <% else %>
            <%= image_tag "téléchargé.jpg", class: "image-prof" %>
            <% end %>
          </div>
          <% end %>
          <div class="img-bot">
            <div class="pi">
              <%= @match_sort3.user.first_name %>
             </div>
          </div>
      </div>
      <%= link_to match_path(@match_sort3) do%>
      <div class="notes">
         <p>
          <i class="fa-solid fa-calendar-days"></i> :
          <%= @match_sort3.date %>
        </p>
        <p>
          <i class="fa-solid fa-location-dot"></i> :
          <%= @match_sort3.address %>
        </p>
        <p>
          <i class="fa-solid fa-users"></i> :
          <%= @match_sort3.number_of_places%>/10
        </p>
        </div>
      </div>
      <% end %>
      <button class="button-85" role="button" onclick="window.location.href='/matches';">All rooms !</button>
      </div>







<%# ------------------------ CAROUSEL -------------------------- %>

  <div id="carouselExample" class="carousel slide feur">
    <div class="title-style H">
      <h2 class="title-style">Our best players :</h2>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="div10">
          <div class="img-top10">
            <%= cl_image_tag @user1.photo.key, class:"image-prof" %>
          </div>
          <div class="img-bot10">
            <div class="pi10">
              <%= @user1.first_name %>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="div10">
          <div class="img-top10">
            <%= cl_image_tag @user2.photo.key, class: "image-prof" %>
          </div>
          <div class="img-bot10">
            <div class="pi10">
              <%= @user2.first_name %>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="div10">
          <div class="img-top10">
            <%= cl_image_tag @user3.photo.key, class: "image-prof" %>
          </div>
          <div class="img-bot10">
            <div class="pi10">
              <%= @user3.first_name %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>



<%# ---------------------------map---------------------------- %>
<h3 class="title-style so">Futsal near you</h3>
<hr>
<div style="width: 100%; height: 245px; border-radius: 20px "
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  data-action="click->map#onMarkerClick">
</div>
</div>
