

<div class="container">

<%= form_with url: map_path, method: :get, class: "d-flex" do %>
  <div data-controller="address-autocomplete" data-address-autocomplete-api-key-value="<%= ENV["MAPBOX_API_KEY"] %>">
      <%= text_field_tag :query,
            params[:query],
            class: "form-control d-none",
            placeholder: "Type a keyword",
            data: {address_autocomplete_target: "address"}
            %>

  </div>
   <%= submit_tag %>
<% end %>
  <div style="width: 100%; height: 600px; margin-top: 25px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
