
<div class="container biz">
  <div class="arrow-return">
    <%= link_to image_tag("icons8-u-tourner-à-gauche-80.png"), root_path %>
  </div>

  <div class="title-style">
    <h1>All Rooms </h1>
    <hr>
  </div>
  <% Match.all.each do |match| %>
    <div class="card-matches">
    <%= link_to profil_path(match.user.id) do %>
      <div class="div">
          <div class="img-top">
            <% if match.user.photo.attached? %>
            <%= cl_image_tag match.user.photo.key, class: "image-prof"%>
            <% else %>
            <%= image_tag "téléchargé.jpg", class: "image-prof" %>
            <% end %>
          </div>
          <% end %>
          <div class="img-bot">
            <div class="pi">
              <%= match.user.first_name %>
            </div>
          </div>
      </div>
      <%= link_to match_path(match) do %>
      <div class="notes">
         <p>
          <i class="fa-solid fa-calendar-days"></i> :
          <%= match.date %>
        </p>
        <p>
          <i class="fa-solid fa-location-dot"></i> :
          <%= match.address %>
        </p>
        <p>
          <i class="fa-solid fa-users"></i> :
          <%= match.number_of_places%>/10
        </p>
       </div>
    </div>
    <% end %>
  <% end %>
</div>
