
<div class="container biz">
  <div class="arrow-return">
    <%= link_to image_tag("icons8-u-tourner-à-gauche-80.png"), root_path %>
  </div>

  <div class="title-style">
    <h1>All Rooms :</h1>
  </div>
  <% Match.all.each do |match| %>
    <div class="card-matches">
      <div class="div">
          <div class="img-top">
            <% if match.user.photo.attached? %>
            <%= cl_image_tag match.user.photo.key, class: "image-prof"%>
            <% else %>
            <%= image_tag "téléchargé.jpg", class: "image-prof" %>
            <% end %>
          </div>
          <div class="img-bot">
            <div class="pi">
              <%= match.user.first_name %>
            </div>
          </div>
      </div>
      <div class="notes">
          <%= match.date %>
      </div>
      <div class="note">
        <p><%= match.number_of_places %>/10</p>
        <%= link_to raw('<button type="button" class="btn btn-primary">See details</button>'), match_path(match), class:"su" %>
      </div>
    </div>
  <% end %>
</div>
