<div class="container-arrow" >
<div class="create-new">
  <h1>Create your match</h1>
</div>
 <div class="arrow-return2">
    <%= link_to image_tag("arrow.png"), root_path %>
  </div>
</div>
<div class="box-form">
<div class="form-new">

<%= simple_form_for @match do |f| %>
  <%= f.input :address, collection: Match::ADDRESSES.map{|address| address[:name]}, prompt: 'Select a Futsal' %>


  <%= f.input :date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
  <%= f.button :submit, class:  'btn btn-primary' %>
 <% end %>
 </div>
</div>
