<!-- Team 1 -->
<div class="field">
<%= link_to match_path(match) do %>
    <div class="card-goalkeeper">
      <img src="https://www.fifarosters.com/assets/card-creator/Placeholder-SBC-Empty.png" class="img-position">
    </div>
    <% end %>
    <%= link_to match_path(match) do %>
    <div class="card-players">
      <img src="https://www.fifarosters.com/assets/card-creator/Placeholder-SBC-Empty.png"  class="img-position">
      <img src="https://www.fifarosters.com/assets/card-creator/Placeholder-SBC-Empty.png"  class="img-position">
    </div>
    <% end %>
    <%= link_to match_path(match) do %>
    <div class="card-players">
      <img src="https://www.fifarosters.com/assets/card-creator/Placeholder-SBC-Empty.png"  class="img-position">
      <img src="https://www.fifarosters.com/assets/card-creator/Placeholder-SBC-Empty.png"  class="img-position">
    </div>
    <% end %>

    <!-- Team 2 -->
    <%= link_to match_path(match) do %>
    <div class="card-players">
      <img src="https://www.fifarosters.com/assets/card-creator/Placeholder-SBC-Empty.png"  class="img-position">
      <img src="https://www.fifarosters.com/assets/card-creator/Placeholder-SBC-Empty.png"  class="img-position">
    </div>
    <% end %>
    <%= link_to match_path(match) do %>
    <div class="card-players">
      <img src="https://www.fifarosters.com/assets/card-creator/Placeholder-SBC-Empty.png"  class="img-position">
      <img src="https://www.fifarosters.com/assets/card-creator/Placeholder-SBC-Empty.png"  class="img-position">
    </div>
    <% end %>
    <%= link_to match_path(match) do %>
    <div class="card-goalkeeper">
      <img src="https://www.fifarosters.com/assets/card-creator/Placeholder-SBC-Empty.png" class="img-position">
    </div>
    <% end %>
</div>

<div class="card-capitaine">Capitaine</div><br/>

<%= console %>
