
<div class="container p">
<h1 class="title-style">Profil</h1>
  <% current_user.team_work %>
  <% stars = current_user.team_work.to_i %>
 <% empty_star = 5 - current_user.team_work.to_i %>

  <% current_user.shoot %>
  <% stars_shoot = current_user.shoot.to_i %>
 <% empty_star_shoot = 5 - current_user.shoot.to_i %>

  <% current_user.dribbling %>
  <% stars_drible = current_user.dribbling.to_i %>
 <% empty_star_drible = 5 - current_user.dribbling.to_i %>
  <% current_user.physic %>
  <% stars_physic = current_user.physic.to_i %>
 <% empty_star_physic = 5 - current_user.physic.to_i %>
  <div class="div17">
    <div class="img-top17">
      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, class: "image-profilez"%>
        <% else %>
        <%= image_tag "téléchargé.jpg", class: "image-profilez" %>
      <% end %>
    </div>
     <div class="img-bot17">
    <h2><%= current_user.first_name %> </h2>

<div class="ratings-container">
  <div class="profilRating"  >
   <div class="label">T-W</div>

    <div class="stars">
    <% current_user.team_work.to_i.times do %>
      <i class="fas fa-star"></i>
      <% end %>
      <% empty_star.times do %>
      <i class="far fa-star"></i>
      <% end %>
    </div>
  </div>
  <div class="profilRating">
    <div class="label">Sho</div>
    <div class="stars">
    <% stars_shoot.times do %>
      <i class="fas fa-star"></i>
      <% end %>
      <% empty_star_shoot.times do %>
      <i class="far fa-star"></i>
      <% end %>
    </div>
  </div>
  <div class="profilRating">
    <div class="label">Phy</div>
    <div class="stars">
       <% stars_physic.times do %>
      <i class="fas fa-star"></i>
      <% end %>
      <% empty_star_physic.times do %>
      <i class="far fa-star"></i>
      <% end %>
    </div>
  </div>
  <div class="profilRating">
    <div class="label">Dri</div>
    <div class="stars">
   <% stars_drible.times do %>
      <i class="fas fa-star"></i>
      <% end %>
      <% empty_star_drible.times do %>
      <i class="far fa-star"></i>
      <% end %>
    </div>
  </div>
</div>
      </div>
       </div>
<div class="Btn4">
</div>

<h3 class="title-style">Played Matches</h3>
  <% current_user.user_teams.each do |u| %>
  <div class="card-matches2">
  <i class="fa-solid fa-calendar-days"></i>
  <%= u.team.match.date.strftime("%d/%m/%Y") %>
  <i class="fa-regular fa-futbol"></i>
  <%= u.position %>
  </div>
  <% end %>
      <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  ?
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        T-W = team work //
        sho = shooting //
        phy = physic //
        dri = dribbling
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</div>
