
<div class="container">
<br>
<h1 class="title-style">Profil</h1>
  <div class="div17">
    <div class="img-top17">
      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, class: "image-profilez"%>
        <% else %>
        <%= image_tag "téléchargé.jpg", class: "image-profilez" %>
      <% end %>
    </div>
     <div class="img-bot17">
    <h2><%= current_user.first_name %></h2>
<div class="ratings-container">
  <div class="rating">
   <div class="label">T-W</div>
    <div class="stars" data-rating="0">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
    </div>
  </div>
  <div class="rating">
    <div class="label">Sho</div>
    <div class="stars" data-rating="1">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
    </div>
  </div>
  <div class="rating">
    <div class="label">Phy</div>
    <div class="stars" data-rating="2">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
    </div>
  </div>
  <div class="rating">
    <div class="label">Dri</div>
    <div class="stars" data-rating="3">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
    </div>
  </div>
</div>
      </div>
       </div>
<div class="Btn4">
<%= link_to "Edit", "#", class: "btn btn-flat" %>
<%= link_to "Delete", "#", class: "btn btn-flat" %></div>
<div class="Btn5"><%= link_to "Save", "#", class: "btn btn-flat btn5" %></div>
</div>



<%#
 <div class="p">
    <p>
    T-W
    Sho
    Phy
    Dri
    </p>
    </div> %>
